<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>친구신청목록</title>
    <link rel="stylesheet" href="/css/friendConfirm.css">
    <%- include('../header')%>
</head>
<body>
    <div>
        <div class="friendsList">
            <p>lobster100님의 친구 신청 목록</p>
        </div>
    </div>
    <div class="container" style="border: 3px solid black;">
        <div class="row">
            <div class="col-md-4 col-6">
              <div>
                <a href="#"><img src="/img/추석3.png" alt="" style="width: 100%; height: 100%;"></a>
                
              </div>
              <p class="nicknames" name="nickname">lobster100</p>
              <button type="button" onclick="confirm()" id="confirm" class="confirm">수락</button>
              <button type="button" onclick="reject()" id="reject" class="reject">거절</button>
            </div>
            <div class="col-md-4 col-6">
                <div>
                    <a href="#"><img src="/img/추석3.png" alt="" style="width: 100%; height: 100%;"></a>
                </div>
                <p class="nicknames" name="nickname">lobster100</p>
              <button type="button" onclick="confirm()" id="confirm" class="confirm">수락</button>
              <button type="button" onclick="reject()" id="reject" class="reject">거절</button>
            </div>
            <div class="col-md-4 col-6">
                <div>
                    <a href="#"><img src="/img/추석3.png" alt="" style="width: 100%; height: 100%;"></a>
                
                </div>
                <p class="nicknames" name="nickname">lobster100</p>
              <button type="button" onclick="confirm()" id="confirm" class="confirm">수락</button>
              <button type="button" onclick="reject()" id="reject" class="reject">거절</button>
            </div>
            <div class="col-md-4 col-6">
                <div>
                    <a href="#"><img src="/img/추석3.png" alt="" style="width: 100%; height: 100%;"></a>
                    
                </div>
                <p class="nicknames" name="nickname">lobster100</p>
              <button type="button" onclick="confirm()" id="confirm" class="confirm">수락</button>
              <button type="button" onclick="reject()" id="reject" class="reject">거절</button>
            </div>
            <div class="col-md-4 col-6">
                <div>
                    <a href="#"><img src="/img/추석3.png" alt="" style="width: 100%; height: 100%;"></a>
                    
                </div>
                <p class="nicknames" name="nickname">lobster100</p>
              <button type="button" onclick="confirm()" id="confirm" class="confirm">수락</button>
              <button type="button" onclick="reject()" id="reject" class="reject">거절</button>
            </div>
            <div class="col-md-4 col-6">
                <div>
                    <a href="#"><img src="/img/추석3.png" alt="" style="width: 100%; height: 100%;"></a>
                    
                </div>
                <p class="nicknames" name="nickname">lobster100</p>
              <button type="button" onclick="confirm()" id="confirm" class="confirm">수락</button>
              <button type="button" onclick="reject()" id="reject" class="reject">거절</button>
            </div>
            <div class="col-md-4 col-6">
                <div>
                    <a href="#"><img src="/img/추석3.png" alt="" style="width: 100%; height: 100%;"></a>
                    
                </div>
                <p class="nicknames" name="nickname">lobster100</p>
              <button type="button" onclick="confirm()" id="confirm" class="confirm">수락</button>
              <button type="button" onclick="reject()" id="reject" class="reject">거절</button>
            </div>
            <div class="col-md-4 col-6">
                <div>
                    <a href="#"><img src="/img/추석3.png" alt="" style="width: 100%; height: 100%;"></a>
                    
                </div>
                <p class="nicknames" name="nickname">lobster100</p>
              <button type="button" onclick="confirm()" id="confirm" class="confirm">수락</button>
              <button type="button" onclick="reject()" id="reject" class="reject">거절</button>
            </div>
        </div>
    </div>
</body>
</html>