<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이콘 선택</title>
    <link rel="stylesheet" href="/css/icon.css">
    <%- include('../header')%>
</head>
<body>
    <div class="container-fluid" id="backgrounds">
        <form name="postForm">
        <div class="row">
            <div class="col-md-6" style="margin-top: 4vh;">
                <div class="beforeSelect"><a href="/"> < 홈으로</a></div>
                <div class="messageBox"><p>장식을 선택하세요</p></div>
                <div id="selectBox">
                    <div class="row">
                        <div class="col-4">
                            <div>
                                <img src="/img/letterIcons/px_acorn.png" alt="">
                            </div> 
                        </div>
                        <div class="col-4">
                            <div>
                                <img src="/img/letterIcons/px_apple.png" alt="">
                            </div>
                        </div>
                        <div class="col-4">
                            <div>
                                 <img src="/img/letterIcons/px_apple2.png" alt="">
                            </div>
                        </div>
                        <div class="col-4">
                            <div>
                              <img src="/img/letterIcons/px_coin.png" alt="">
                            </div>
                        </div>
                        <div class="col-4">
                            <div>
                                <img src="/img/letterIcons/px_food.png" alt="">
                            </div>
                        </div>
                        <div class="col-4">
                            <div>
                                <img src="/img/letterIcons/px_hedgehog.png" alt="">
                            </div>
                        </div>
                        <div class="col-4">
                            <div>
                                <img src="/img/letterIcons/px_lApple.png" alt="">
                            </div>
                        </div>
                        <div class="col-4">
                            <div>
                                <img src="/img/letterIcons/px_nuts.png" alt="">
                            </div>
                          
                        </div>
                        <div class="col-4">
                            <div> <img src="/img/letterIcons/px_panda.png" alt="">
                            </div>
                           
                        </div>
                        <div class="col-4">
                            <div>
                                   <img src="/img/letterIcons/px_pear.png" alt="">
                            </div>
                         
                        </div>
                        <div class="col-4">
                            <div>  <img src="/img/letterIcons/px_persimmon.png" alt=""></div>
                          
                        </div>
                        <div class="col-4">
                            <div> <img src="/img/letterIcons/px_pumpkin.png" alt=""></div>
                           
                        </div>
                        <div class="col-4">
                            <div><img src="/img/letterIcons/px_rabbit.png" alt=""></div>
                            
                        </div>
                        <div class="col-4">
                            <div>
                               <img src="/img/letterIcons/px_squirrel.png" alt="">  
                            </div>
                           
                        </div>
                        <div class="col-4">
                            <div>
                                <img src="/img/letterIcons/px_tree.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="selectBtns">
                    <button type="button" onclick="select()">선택하기</button>
                </div>
            </div>
            <div class="col-md-6" style="margin-top: 4vh;">
                <div class="beforeSelect"><a href="#"> < 이전으로</a></div>
                <div class="messageBox"><p>편지를 남겨주세요</p></div>
                <div id="postBox">
                    <div style="margin-top: 3vh;">
                       <div id="toUser">
                        <p>to. 랍스터님에게</p>
                       </div>
                    </div>
                    <div style="width: 100%;">
                        <div id="toContent">
                                <textarea name="postContent" id="postContent" placeholder="메세지를 남겨주세요"></textarea>
                        </div>
                    </div>                   
                </div>
                <div id="nicknamesBox">
                    <input type="text" name="postNickname" placeholder="from. 닉네임">
                </div>
                <div id="buttonBox"> 
                    <button type="button" onclick="postLetter()">등록</button>
                    <button type="button"><a href="/">취소</a></button>
                </div>
            </div>
        </div>
        </form>
    </div>
</body>
</html>