<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이콘 선택</title>
    <link rel="stylesheet" href="/css/icon.css">
    <%- include('../header')%>
</head>
<body>
    <div class="container-fluid" id="backgrounds">
        <div class="row">
            <div class="col-md-5" style="margin-top: 4vh;">
                <div id="postBox"></div>
            </div>
            <div class="col-md-7">
                <div id="selectBox"></div>
            </div>
        </div>
    </div>
</body>
</html>