<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 편지함</title>
    <%- include('../header')%>
    <link rel="stylesheet" href="/css/myletter.css">
</head>
<body>
    <div>

    </div>
</body>
</html>