<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>내 편지함</title>
    <%- include('../header')%>
    <link rel="stylesheet" href="/css/myletter.css" />
  </head>
  <body>
 
    <div class="container-fluid row">
      <div class="titleDiv col-md-2">

        <h1>00님의<br />편지함</h1>

      </div>

      <div class="letterDiv col-md-8">
        <div class="imgDiv">
          <img src="/img/background/moon.png" alt="" id="moon" />
          <!-- 편지 -->
          <% for (let i=1; i<=5; i++ ){ %>
          <div
            class="letters"
            id="letter<%= i %>"
            data-bs-toggle="modal"
            data-bs-target="#letterModal"
          >
            <img src="/img/letterIcons/px_apple.png" alt="" id="moon" />
            <p id="writerNickname<%=i%>">짱구가</p>
          </div>
          <% } %>
          <!-- 편지 모달 -->
          <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#letterModal" data-bs-whatever="">modal 열기</button> -->

          <div
            class="modal fade"
            id="letterModal"
            tabindex="-1"
            aria-labelledby="letterModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="letterModalLabel">
                  송편지
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="mb-3">
                    <label for="recipient-name" class="col-form-label"
                      >작성자</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="recipient-name"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="message-text" class="col-form-label"
                      >편지 내용</label
                    >
                    <textarea class="form-control" id="message-text"></textarea>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btnLike">
                  <img src="/img/header/heart1.png" alt="" id="likeHeart" />
                  <div class="likesNum">
                  44
                  </div>
                </button>

                <button
                  type="button"
                  class="btn btnClose"
                  data-bs-dismiss="modal"
                >
                  닫기
                </button> 
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="btnDiv">
        <button id="btnLeft">
          <img src="/img/header/left.png" alt="" />
        </button>
        <button id="btnRight">
          <img src="/img/header/right.png" alt="" />
        </button>
      </div>
    </div>

    <div class="menuDiv col-md-2">
      <div class="myPageDiv">
        <a href="/user/myPage">
          <button id="btnMypage">
           
              <img src="/img/header/user.png" alt="" id="imgMypage" />
           
          </button>
          <p>마이페이지</p>
        </a>
      </div>
      <div class="friendConfirmDiv">
        <a href="/letter/friendConfirm">
          <button id="btnFriendConfirm">
            <img src="/img/header/ring.png" alt="" id="imgFriendConfirm" />
          </button>
          <p>친구 신청</p>
        </a>
    </div>
    <div class="friendsDiv">
      <a href="/letter/friends">
        <button id="btnFriends">
          <img src="/img/header/friends.png" alt="" id="imgFriends" />
        </button>
        <p>친구 목록</p>
      </a>
  </div>
    </div>
    <script src="/js/letter/myletter.js"></script>
  </body>
</html>
