<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404</title>
    <link rel="stylesheet" href="/public/css/404.css" />
  </head>
  <body>
    <%- include('./header') %>
    <div class="continainer-fluid background">
      <div class="contentDiv">
        <div class="spanDiv">
          <span>4</span>
          <span>0</span>
          <span>4</span>
        </div>

        <!-- 포토샵 로고 START -->
        <!-- <div class="logoDiv">
          <img src="/img/background/404.png" alt="" />
        </div> -->
        <!-- 포토샵 로고 END-->

        <div class="boggleDiv">
          <img src="/img/background/green.png" alt="" />
          <img src="/img/background/yellow.png" alt="" />
          <img src="/img/background/blue.png" alt="" />
          <img src="/img/background/pink.png" alt="" />
        </div>
      </div>
    </div>
  </body>
</html>
