<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/header.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"
      integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <div style="font-family: 'pixel1'">
      <div id="navbar">
        <div>
          <img src="/img/추석3.png" alt="" width="40" height="40" />
          <span id="programName"><a href="/">송편지.exe</a></span>
        </div>
        <div id="clickbar">
          <div class="bar" data-bs-toggle="modal" data-bs-target="#easterEgg">
            <img
              src="/img/header/window-minimize_2.png"
              alt=""
              style="height: 2.5vh"
            />
          </div>
          <div class="bar" data-bs-toggle="modal" data-bs-target="#easterEgg">
            <img
              src="/img/header/window-maximize_2.png"
              alt=""
              style="height: 2.5vh"
            />
          </div>
          <div class="bar" data-bs-toggle="modal" data-bs-target="#easterEgg">
            <img src="/img/header/close.png" alt="" style="height: 2.5vh" />
          </div>
        </div>
      </div>
      <div id="navbar2">
        <%if(typeof session !== 'undefined'){%>
        <div id="myLetterBox">
          <a href="/letter/myletter/<%=session.id%>"
            ><span style="text-decoration: underline">내</span><span>편지</span>
          </a>
        </div>
        <%}%>
        <div id="noticeBox">
          <a href="/notice"
            ><span style="text-decoration: underline">공</span
            ><span>지사항</span></a
          >
        </div>
        <%if(typeof session!== 'undefined'){%>
        <div id="myPageBox">
          <a href="/user/myPage"
            ><span style="text-decoration: underline">마</span
            ><span>이페이지</span></a
          >
        </div>
        <%}%> <%if(typeof session === 'undefined'){%>
        <div id="loginBox">
          <a href="/user/login" id="login"
            ><span style="text-decoration: underline">로</span
            ><span>그인</span></a
          >
        </div>
        <%}%> <%if(typeof session !== 'undefined'){%>
        <div id="loginBox">
          <a href="/logout" id="logout"
            ><span style="text-decoration: underline">로</span
            ><span>그아웃</span></a
          >
        </div>
        <%}%>
      </div>
    </div>

    <!-- modal -->
    <!-- modal -->
    <!-- 모달 -->
    <!-- Modal -->
    <div
      class="modal fade"
      id="easterEgg"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content1">
          <div class="modal-header1">
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body1">
            <div class="scrolling-text-container">
              <div class="scrolling-text">
                <img src="/img/header/tel.jpg" alt="" />
                <p>송편지</p>
                <p>버전 : 0.1v</p>
                <p>프런트 : 강혜빈, 이동규</p>
                <p>백엔드 : 최태영, 홍민영</p>
                <p>송편지를 이용해주신 여러분 감사합니다!!</p>
                <p>모두들 건강하시고, 즐거운 일만 가득하세요!!</p>
                <p>항상 도움을 주시는 새싹, 코딩온 여러분 감사합니다</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
