<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME</title>
    <link rel="stylesheet" href="/public/css/index.css" />
  </head>
  <body>
    <%- include('./header')%>
    <div class="container-fluid background">
      <h1>프로젝트 제목</h1>
      <h3>멘트</h3>
     

             <div class="row">
              <div class="col-2"></div>
                <div class="col-4">
                
                    <img src="../public/img/background/STAR.png" alt="" id="img" />
                    <p>닉네임</p>
                </div>
                <div class="col-3">
                  <img src="../public/img/background/STAR.png" alt="" id="img" />
                  <p>닉네임</p>
                </div>
                  <div class="col-3">
                    <img src="../public/img/background/STAR.png" alt="" id="img" />
                    <p>닉네임</p>
                  </div>
            </div>
      
              <div class="row">
                <div class="col-1"></div>
      
                <div class="col-3">
                  <img src="../public/img/background/STAR.png" alt="" id="img" />
                  <p>닉네임</p>
                </div>
                <div class="col-3">
                  <img src="../public/img/background/STAR.png" alt="" id="img" />
                  <p>닉네임</p>
                </div>
                <div class="col-5">
                  <img src="../public/img/background/STAR.png" alt="" id="img" />
                  <p>닉네임</p>
                </div>
              </div>
      
              <div class="row" >
                <div class="col-2"></div>
                <div class="col-4">
                  <img src="../public/img/background/STAR.png" alt="" id="img" />
                  <p>닉네임</p>
                </div>
                <div class="col-4">
                  <img src="../public/img/background/STAR.png" alt="" id="img" />
                  <p>닉네임</p>
                </div>
                <div class="col-2">
                  <img src="../public/img/background/STAR.png" alt="" id="img" />
                  <p>닉네임</p>
                </div>
              </div>
              <div class="btnDiv">
                <div class="btnClass">
                  <button id="btnleft"><img src="../public/img/headerIcons/left.png" alt=""></button>
                  <button id="btnResister">회원가입</button>
                  <button id="btnLogin">로그인</button>
                  <button id="btnRight"><img src="../public/img/headerIcons/right.png" alt=""></button>
                </div>
              </div>
        
      </div>
    </div>
    <script>


//       for (let i = 1; i <= 10; i++) {
//         const star = document.querySelector(`.star${i}`);
//         const curLeft = parseInt(star.style.left || 0, 10);
//         const curTop = parseInt(star.style.top || 0, 10);
//         console.log(star);
//         console.log(curTop);
//         console.log(curLeft);
//         star.style.left = curLeft + i * 50 + "px";
//       }
//       for (let i = 1; i <= 10; i++) {
//         const star = document.querySelector(`.star${i}`);
//         if (i % 2 == 0) {
//           // 짝수 별이라면
//           star.style.top = 100 + "px";
//         } else {
//           star.style.top = -1 * 100 + "px";
//         }
//         star.style.left = 50 * i + "px";
//         console.log(i, star.style.top);
//       }
//  //1번
//  <!-- a 링크 추가, 닉네임 data 추가 -->
//              <% for (let i=1; i<=10; i++ ) { %>
//              <div class="star star<%=i%>">
//                <img src="../public/img/background/STAR.png" alt="" id="img" />
//                <p>닉네임</p>
//                <!-- </a> -->
//             </div>
//              <%}%>
      
    </script>
  </body>
</html>
