* {
  letter-spacing: -2px;
  font-family: 'pixel1';
}

@font-face {
  font-family: 'pixel1';
  src: url('../fonts/DungGeunMo.ttf') format('truetype');
}

.friendsList > p {
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
}

.friendsList2 {
  gap: 10px;
  margin-left: 2vw;
  margin-top: 0.5vh;
}

.col-md-4 > div {
  border: 1px solid black;
  background: white;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
}

.col-md-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3vh;
  margin-bottom: 4vh;
}

.nicknames {
  font-size: 25px;
}

.reject {
  margin-top: 15px;
}

/* 버튼 */
@media (max-width: 750px) {
  /* 모바일 */
  .btnDiv {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    /* height: 20%; */
  }
  .btnDiv button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    margin: 3vw;
    background-color: #7091f5;
    /* background-color: #27e1c1; */
    color: #eeeeee;
  }
  button img {
    width: 30px;
    height: 30px;
    /* object-fit: fill; */
  }
  button span {
    font-size: x-small;
  }
}
@media (min-width: 750px) {
  /* pc */
  .btnDiv {
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    /* height: 20%; */
  }
  .btnDiv button {
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
    margin: 3vw;
    background-color: #7091f5;
    /* background-color: #27e1c1; */
    color: #eeeeee;
  }
  button img {
    width: 50px;
    height: 50px;
    /* object-fit: fill; */
  }
  button span {
    font-size: medium;
  }
}
