
@font-face {
  font-family: 'pixel1';
  src: url('../fonts/DungGeunMo.ttf') format('truetype');
}

@font-face {
  font-family: 'pixel2';
  src: url('../font/PF스타더스트.ttf') format('truetype');
}

@font-face {
  font-family: 'pixel3';
  src: url('../fonts/W95FA.otf') format('truetype');
}

#navbar {
background: #00007f;
display: flex;
justify-content: space-between;
}

#navbar > div {
display: flex;
margin-left: 15px;
align-items: center;
}

#programName {
font-size : 3vh;
font-weight: 700;
color : white;
margin-bottom: 1px;
}

.bar {
width: 37.5px;
height: 5vh;
border: 1px solid black; 
margin-right: 4px;
background: #c0bfc0;
float: right;
box-shadow: inset 0 0 0 3px #dbdbdb; 
display: flex;
justify-content: center;
align-items: center;
}

#navbar2 {
background: #bdbdbd;
display: flex;

}
#home {
margin-left: 2vw;
}
#home > a {
text-decoration: none;
color: black;
}
#home > a> span, #home > a> span > span {
font-size: 23px;
}

#myLetterBox {
margin-left: 2vw;
}
#myLetterBox > a {
text-decoration: none;
color: black;
}
#myLetterBox > a> span, #myLetterBox > a> span > span {
font-size: 23px;
}

#noticeBox {
margin-left: 2vw;
}
#noticeBox > a {
text-decoration: none;
color: black;
}
#noticeBox > a> span, #noticeBox > a> span > span {
font-size: 23px;
}

#loginBox {
margin-left: 2vw;
}

#loginBox > a {
text-decoration: none;
color: black;
}

#loginBox > a> span, #loginBox > a> span > span {
font-size: 23px;

}

#alarmBox {
margin-left: 2vw;
}

#alarmBox > a {
text-decoration: none;
color: black;
}

#alarmBox > a> span, #alarmBox > a> span > span {
font-size: 23px;
}