* {
    letter-spacing: -2px;
    font-family: 'pixel1';
  }
  
  @font-face {
    font-family: 'pixel1';
    src: url('../fonts/DungGeunMo.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'pixel2';
    src: url('../fonts/pixelroborobo.otf') format('truetype');
  }

#backgrounds {
    background: url('../img/starBg.png') center center,
    linear-gradient(
      90deg,
      rgba(15, 61, 134, 1) 0%,
      rgba(15, 44, 89, 1) 47%,
      rgba(4, 22, 50, 1) 100%
    );

    height : 100vh;
}

#postBox {
    width: 95%;
    height: 85vh;
    margin-top: 5vh;
    margin: 0 auto;
    border: 3px solid #9b7640; 
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 10%;
}