@font-face {
  font-family: 'stardust';
  src: url('/font/PF스타더스트 Bold.ttf');
}

* {
  /* background-color: #0c356a; */
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #201c2f 0%, #0c356a 100%);

  background-image: url('../img/background/starBg.png');
}

.background {
  letter-spacing: -2;
  background: linear-gradient(to bottom, #201c2f 0%, #0c356a 100%);
  height: 100vh;
  color: #eeeeee;
  position: relative;
  font-family: 'stardust';
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* 상단 문장 */
.cmtDiv {
  position: absolute;
  text-align: center;
  top: 2%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 20%;
  /* color: #f11a7b; */
}

/* 별 */
.starDiv {
  position: relative;
  display: flex;
  justify-content: space-around;
  /* background-color: aqua; */
  top: 20%;
  height: 60vh;
  width: 100vw;
}
.starDiv a {
  text-decoration-line: none;
}

.star {
  /* display: flex;
  flex-direction: column; */
  position: absolute;
  width: 100%;
}
.star img {
  width: 80%;
  height: 100%;
  position: absolute;
  text-align: center;
}
.star p {
  color: #eeeeee;
  position: absolute;
  display: block;
}

/* #star2 {
  animation: twinkle infinite 3s linear;
}
#star4 {
  animation: twinkle infinite 2s linear;
}
#star6 {
  animation: twinkle infinite 3.5s linear;
}
#star9 {
  animation: twinkle infinite 2.5s linear;
} */
.star img:hover {
  transform: scale(1.5);
}

/* 버튼 */
.btnDiv {
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 75%;
  height: 20%;
}

@media (max-width: 480px) {
  /* 모바일 */
  .btnDiv button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    margin: 3vw;
    background-color: #f11a7b;
    /* background-color: #27e1c1; */
    color: #eeeeee;
  }
  button img {
    width: 30px;
    height: 30px;
    /* object-fit: fill; */
  }
  button span {
    font-size: x-small;
  }
}
@media (min-width: 480px) {
  /* pc */
  .btnDiv button {
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
    margin: 3vw;
    background-color: #f11a7b;
    /* background-color: #27e1c1; */
    color: #eeeeee;
  }
  button img {
    width: 50px;
    height: 50px;
    /* object-fit: fill; */
  }
  button span {
    font-size: medium;
  }
}

/* 별똥별 */
#stStar {
  width: 10%;
  height: 10%;
  position: absolute;
  animation: fall 1 2s linear;
}

/* Animation */
/* @keyframes twinkle {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */

@keyframes fall {
  0% {
    top: 0;
    left: 100%;
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    top: 80%;
    left: 0%;
    opacity: 0.2;
    /* display: none; */
  }
}
