@font-face {
  font-family: 'stardust';
  src: url('/font/PF스타더스트 Bold.ttf');
}

* {
  /* background-color: #0c356a; */
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #201c2f 0%, #0c356a 100%);
  letter-spacing: 0px;
  background-image: url('../img/background/starBg.png');
}
.container-fluid {
  background: linear-gradient(to bottom, #201c2f 0%, #0c356a 100%);
  height: 100vh;
  color: #eeeeee;
  position: relative;
  font-family: 'stardust';
  overflow: hidden;
  display: flex;
}

/* 제목 */
.titleDiv {
  margin-top: 10%;
  text-align: center;
}
/* 편지함 */
.letterDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  /* margin-top: 5%; */
}

@media (max-width: 480px) {
  /* 모바일 */
  .imgDiv {
    flex-grow: 1;
    height: 60vh;
    /* background-color: #eee; */
  }
  #moon {
    position: absolute;
    width: 100%;
    height: 80%;
    left: 0;
    top: 0%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  /* iPads, Tablets */
  .imgDiv {
    flex-grow: 1;
    height: 70vh;
  }
  #moon {
    position: absolute;
    width: 100%;
    height: 90%;
    left: 0;
    top: 0%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* Small screens, laptops */
  .imgDiv {
    flex-grow: 1;
    height: 55vh;
    margin-top: 5%;
  }
  #moon {
    position: absolute;
    width: 100%;
    height: 80%;
    /* left: 0;
    top: 50%;
    transform: translateY(-50%); */
  }
}
@media (min-width: 1025px) and (max-width: 1201px) {
  /* pc */
  .imgDiv {
    flex-grow: 1;
    height: 60vh;
    margin-top: 3%;
    /* background-color: #eeeeee; */
  }
  #moon {
    width: 85%;
    height: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }
}
@media (min-width: 1201px) {
  /* Extra large screens, TV */
  .imgDiv {
    flex-grow: 1;
    height: 60vh;
    margin-top: 3%;
    /* background-color: #eeeeee; */
  }
  #moon {
    width: 90%;
    height: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }
}

/* 편지함 안 편지들 */
.letters {
  position: relative;
}
.letters p {
  color: #337ccf;
  position: absolute;
  /* top: 80%;
  left: 50%;
  transform: translateX(-50%); */
  /* 그림 밑으로 두면 글자 깨짐 ㅠㅠ */
  font-size: small;
  letter-spacing: -2;
}
.letters:hover {
  cursor: pointer;
}
#letter1 {
  width: 15%;
  height: 15%;
  position: absolute;
  z-index: 2;
  left: 25%;
  top: 20%;
}
#letter2 {
  width: 15%;
  height: 15%;
  position: absolute;
  z-index: 2;
  left: 60%;
  top: 20%;
}
#letter3 {
  width: 15%;
  height: 15%;
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  top: 35%;
}
#letter4 {
  width: 15%;
  height: 15%;
  position: absolute;
  z-index: 2;
  left: 25%;
  top: 50%;
}
#letter5 {
  width: 15%;
  height: 15%;
  position: absolute;
  z-index: 2;
  left: 60%;
  top: 50%;
}
/* 편지 모달 */
#letterModal {
  color: #37e2d5;
}
.modal-content {
  /* background-color: #337ccf; */
  /* background-image: url('../img/background/letterBg.png'); */
}
.modal-footer {
  position: relative;
  display: flex;
  flex-direction: row;
}
.btnClose {
  background-color: #37e2d5;
  color: #eee;
}
.btnLike {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
/* 이전/다음 페이지 버튼 */
.btnDiv {
  display: flex;
  justify-content: space-around;
  flex-direction: col;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 75%;
}
@media (max-width: 480px) {
  /* 모바일 */
  .btnDiv button {
    background-color: #37e2d5;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    margin: 3vw;
    color: #eeeeee;
  }
  button img {
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 480px) {
  /* pc */
  .btnDiv button {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    margin: 3vw;
    background-color: #37e2d5;
  }
  button img {
    width: 30px;
    height: 30px;
  }
}

/* 메뉴 */
@media (max-width: 768px) {
  /* 모바일 */
  .menuDiv {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    margin-bottom: 20%;
  }
  .menuDiv a {
    text-decoration-line: none;
    color: #eee;
  }
  #imgMypage {
    width: 30px;
    height: 25px;
  }
  #imgFriendConfirm {
    width: 35px;
    height: 30px;
  }
  #imgFriends {
    width: 40px;
    height: 50px;
  }
  #imgProfilePic {
    width: 100%;
    height: 100%;
  }
  #imgAddFriend {
    width: 30px;
    height: 30px;
  }
  #imgWriteLetter {
    width: 40px;
    height: 30px;
  }
  #btnProfilePic {
    width: 40px;
    height: 40px;
    margin-bottom: 15%;
    box-shadow: none;
  }
  .menuDiv button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #37e2d5;
    box-shadow: 4px 3px #eee;
    margin: 20px;
    overflow: hidden;
  }
}
@media (min-width: 768px) {
  /* pc */
  .menuDiv {
    display: flex;
    justify-content: start;
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
  }
  .menuDiv a {
    text-decoration-line: none;
    color: #eee;
  }
  #imgMypage {
    width: 40px;
    height: 35px;
  }
  #imgFriendConfirm {
    width: 50px;
    height: 40px;
  }
  #imgFriends {
    width: 55px;
    height: 60px;
  }
  #imgProfilePic {
    width: 100%;
    height: 100%;
  }

  #imgAddFriend {
    width: 40px;
    height: 40px;
  }
  #imgWriteLetter {
    width: 50px;
    height: 40px;
  }
  #btnProfilePic {
    width: 55px;
    height: 55px;
    margin-bottom: 15%;
    box-shadow: none;
  }
  .menuDiv button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #37e2d5;
    margin: 5%;
    box-shadow: 4px 3px #eee;
    overflow: hidden;
  }
}
.menuDiv button:hover {
  transform: scale(0.8);
}
