@font-face {
    font-family: 'yeonsung';
    src: url('../fonts/BMYEONSUNG_ttf.ttf') format('truetype');
    }

* {
    letter-spacing: -2px;
}
.notice-no, .notice-update {
    text-align: center;
}

.notice-update > button {
    border: 1px solid black;
    background: dodgerblue;
    border-radius: 10px;
    width: 60px;
}

.notice-update > button > a {
    color : black;
    text-decoration: none;
}

/*  */
#post{
    margin-top: 10px;
    text-align: center;
}
#post > button {
    border: 1px solid black;
    background: dodgerblue;
    border-radius: 10px;
    width: 100px;
}
#post > button > a {
    color : black;
    text-decoration: none;
    font-family: 'yeonsung';
}

/*  */
#noticeHeader{
    font-family: 'yeonsung';
}
.notice-container {
    border: 3px solid #9b7640; 
    background-color: #fff;
    width: 100%;
    padding: 20px; 
    margin: 0 auto; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    font-family: 'yeonsung';
}

.notice-time {
    text-align: right;
    font-size : 2.5vh;
}

.notice-title {
    width: 100%;
    font-size: 3vh; 
    margin-bottom: 10px; 
    color: #333; 
    text-align: center;
    border-bottom: 1px solid #e9e9e9;
    white-space: pre-line;
}

.notice-content {
    color: #555; 
    word-wrap: break-word;
    padding: 10px;
    font-size: 2.2vh;
}

.notice-author {
    font-size: 2.5vh; 
    color: #777; 
    text-align: right;
}

#submitPost {
    border-radius: 10px;
    background: #9b7640;
    width: 100px;
    
}