<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include('../header')%>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <!-- 메인 컨테이너 -->
    <div class="container-fluid" id="main-container">
      <div class="row">
        <!-- 로고 부분 -->
        <div class="col-md-6" id="col-logo">
          <div class="container logo_container1">
            <div class="container logo_container2"></div>
          </div>
        </div>
        <!-- 로그인 부분 -->
        <div class="col-md-6" id="col-login">
          <div class="conatiner login_container1">
            <div class="container login_container2"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
