<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% for(let i=0; i<data.length; i++){%>
    <div><a href="/noticeDetail/<%=data[i].noticeNo%>"><%=data[i].noticeHeader%></a></div>
    <div><%=data[i].createdAt%></div>
    <%}%>
</body>
</html>