<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <%- include('../header')%>
    <form name="resultForm">
      <input
        type="text"
        name="noticeHeader"
        value="<%=data.noticeHeader%>"
        readonly
        style="background: gray"
      /><br />
      <textarea name="noticeContent" id="noticeContent" cols="30" rows="10">
<%=data.noticeContent%></textarea
      ><br />
      <button type="button" onclick="noticeUpdate()">업데이트</button>
    </form>
  </body>
  <script>
    const form = document.forms['resultForm'];
    const data = {
      noticeHeader: form.noticeHeader,
      noticeContent: form.noticeContent,
    };
    axios({
      url: '/noticeUpdate',
      method: 'patch',
      data: data,
    })
      .then((res) => {
        console.log(res);
        alert('업데이트 되었습니다');
        location.href = '/notice';
      })
      .catch((err) => {
        console.error(err);
      });
  </script>
</html>
