<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <%- include('../header')%>
    <form name="resultForm">
      <input
        type="text"
        placeholder="제목을 입력하세요"
        name="noticeHeader"
      /><br />
      <textarea
        name="noticeContent"
        id="noticeContent"
        cols="30"
        rows="10"
      ></textarea>
      <button type="button" onclick="noticePost()">글쓰기</button>
    </form>
  </body>
  <script>
    function noticePost() {
      const form = document.forms['resultForm'];
      const data = {
        noticeHeader: form.noticeHeader.value,
        noticeContent: form.noticeContent.value,
      };
      axios({
        method: 'post',
        url: '/noticePost',
        data: data,
      })
        .then((res) => {
          console.log(res.data);
        })
        .catch((error) => {
          console.error(error);
        });
    }
  </script>
</html>
